.mini-player {
  position: fixed;
  width: 25rem;
  right: 1rem;
  bottom: 0;
  border-radius: 12px 12px 0 0;
  overflow: hidden;

  .video-js-custom {
    .video-js {
      // Control bar
      .vjs-control-bar {
        // all button
        position: absolute;
        height: 100%;
        padding: 0;
    
        .vjs-button {
          z-index: 1;
        }
    
        // Play button
        .vjs-play-control {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          .vjs-icon-placeholder {
            &::before {
              font-size: 5.5em;
            }
          }
        }
    
        // Next button
        .vjs-next-btn {
          position: absolute;
          left: 70%;
          transform: translateX(-50%);
          .vjs-icon-placeholder {
            &::before {
              font-size: 4.5em;
            }
          }
        }
    
        // Prev Button
        .vjs-prev-btn {
          position: absolute;
          left: 30%;
          transform: translateX(-50%);
          .vjs-icon-placeholder {
            &::before {
              font-size: 4.5em;
            }
          }
        }
    
        // Progress bar
        .vjs-progress-control {
          height: auto;
          margin: 0;
          top: unset;
          bottom: 0;
          .vjs-progress-holder {
            margin: 0;
          }
        }
    
        // time display
        .vjs-time-control {
          align-items: end;
        }
    
        // expand button
        .vjs-expand-btn {
          position: absolute;
          height: 4em;
          display: block;
          .vjs-icon-placeholder::before {
            font-family: "Material Icons";
            content: "\e89e";
            font-size: 2.5em;
          }
        }
    
        // close button
        .vjs-close-btn {
          position: absolute;
          right: 0;
          margin: 0;
          height: 4em;
          display: block;
          .vjs-icon-placeholder::before {
            font-family: "Material Icons";
            content: "\e5cd";
            font-size: 2.5em;
          }
        }
    
        // Hide some control button
        .vjs-volume-panel,
        .vjs-subs-caps-button,
        .vjs-setting-btn,
        .vjs-picture-in-picture-control,
        .vjs-fullscreen-control,
        .vjs-theater-btn,
        .vjs-mini-btn {
          display: none;
        }
      }
    
      // Big play button
      .vjs-big-play-button {
        z-index: 1;
      }
    }
  }

  .vjs-user-active {
    .video-js-placeholder {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      transition: all 1s ease;
    }
  }
};
