.option {
  display: flex;
  align-items: center;
  padding: 0.8rem 1rem;
  font-size: 0.875rem;
  background: transparent;
  cursor: pointer;
  
  &:hover {
    background: rgba(56, 56, 56, 0.8);
    transition: 0.3s;
  }

  .content {
    padding-left: 0.5rem;
  }
}
