.video-js-custom {
  position: relative;
  font-family: Roboto, Arial, sans-serif;
  aspect-ratio: 16 / 9;

  .video-js {
    position: relative;

    .vjs-mouse-display {
      width: 0;
    }

    // progress style
    .vjs-progress-control.vjs-control {
      position: absolute;
      width: 100%;
      height: auto;
      top: -1rem;
      &:hover {
        .vjs-play-progress.vjs-slider-bar::before {
          content: '';
          right: -8px;
          top: -5px;
          width: 14px;
          height: 14px;
          background: red;
          visibility: visible;
          transition: 0.3s;
        }
      }
      .vjs-load-progress {
        background: #eee;
        div {
          opacity: 0.5;
        }
        opacity: 0.5;
      }
      .vjs-play-progress.vjs-slider-bar {
        background: red;
        &::before {
          visibility: hidden;
          border-radius: 50%;
        }
        .vjs-time-tooltip {
          display: none;
        }
      }
    }

    // icon style
    .vjs-control-bar {
      padding-bottom: 1rem;
      z-index: 10;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%
      );

      // all button
      .vjs-button {
        cursor: pointer;
        margin-right: 0.5rem;

        &.vjs-ended {
          .vjs-icon-placeholder::before {
            font-size: 2.8em;
          }
        }

        .vjs-icon-placeholder::before {
          font-size: 3em;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 1px;
        }
      }

      // setting button
      .vjs-setting-btn {
        cursor: pointer;
        .vjs-icon-placeholder::before {
          font-family: 'Material Icons';
          content: '\e8b8';
          font-size: 2.5em;
        }
        &.vjs-setting-btn-on {
          .vjs-icon-placeholder::before {
            transition: transform 0.3s ease-in-out;
            transform: rotate(30deg);
          }
        }
        &.vjs-setting-btn-off {
          .vjs-icon-placeholder::before {
            transition: transform 0.3s ease-in-out;
          }
        }
      }

      // subtitle button
      .vjs-subs-caps-button {
        .vjs-icon-placeholder::before {
          font-size: 2.6em;
        }
        .vjs-menu {
          display: none !important;
        }
        &.vjs-control {
          &::after {
            position: absolute;
            left: 50%;
            top: 150%;
            width: 0;
            height: 3px;
            content: '';
            background: red;
            transform: translateX(-50%);
            border-radius: 4px;
            transition: all 0.3s;
          }
          &.active {
            &::after {
              width: 70%;
            }
          }
        }
      }

      // prev button
      .vjs-prev-btn {
        margin-left: 0.5rem;
        .vjs-icon-placeholder {
          &::before {
            font-family: 'Material Icons';
            content: '\e045';
          }
        }
      }

      // next button
      .vjs-next-btn {
        .vjs-icon-placeholder {
          &::before {
            font-family: 'Material Icons';
            content: '\e044';
          }
        }
      }

      // theater button
      .vjs-theater-btn {
        .vjs-icon-placeholder {
          &::before {
            font-family: 'Material Icons';
            content: '\e3bc';
          }
        }
      }

      // volume button style
      .vjs-volume-panel {
        .vjs-mute-control {
          margin-right: 0;
        }
        .vjs-volume-tooltip {
          display: none;
        }
        .vjs-icon-placeholder::before {
          font-size: 2.4em;
          line-height: 1.3;
        }
        .vjs-volume-level::before {
          line-height: normal;
          font-size: 1.5em;
          top: 50%;
          transform: translateY(-50%);
        }
        .vjs-volume-bar {
          margin: 0.5em 0.45em;
        }
      }

      // pip icon
      .vjs-mini-btn {
        .vjs-icon-placeholder {
          &::before {
            font-family: "VideoJS";
            content: "\f121";
            font-size: 2.4em;
          }
        }
      }

      // button PIP default
      .vjs-picture-in-picture-control {
        display: none;
      }

      // timer style
      .vjs-time-control {
        display: flex;
        align-items: center;
        font-size: 0.75rem;
        &.vjs-time-divider {
          margin-right: 2px;
          padding: 0;
          min-width: 0;
        }
        &.vjs-current-time {
          margin-right: 2px;
          padding-right: 2px;
          padding-left: 0.25;
        }
        &.vjs-duration {
          padding-left: 2px;
          flex-grow: 1;
        }
      }

      // time video
      .vjs-remaining-time {
        display: none;
      }

      // audio btn
      .vjs-audio-button {
        display: none;
      }
    }

    // big-play button style
    .vjs-big-play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 2.5em;
      height: 2.5em;
      border-radius: 50%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%
      );
      .vjs-icon-placeholder {
        &::before {
          display: flex;
          justify-content: center;
          font-size: 1.5em;
          align-items: center;
        }
      }
    }

    // style for subtitle
    .vjs-text-track-display {
      bottom: 6em;
      & > div {
        position: relative;
      }
    }
  }

  // Live stream UI
  &.tv-player {
    .vjs-live-control {
      position: relative;
      display: flex;
      align-items: center;
      margin-left: 0.5rem;
    }
    .vjs-live-display {
      font-size: 1.25em;
      padding-left: 0.5rem;
      &::before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        width: 5px;
        height: 5px;
        background: red;
        border-radius: 50%;
      }
    }
    .vjs-subs-caps-button {
      display: none;
    }
  }
}
