

.settings {
  position: absolute;
  right: 0.5rem;
  bottom: 4rem;
  border-radius: 0.5rem;
  background: rgba(28,28,28,.9);
  overflow: hidden;
  width: 35em;
  height: auto;
  color: white;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
  animation: fade-in 0.3s ease forwards;
  z-index: 1;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
